.close {
  width: 50px !important;
  transition: all 1s !important;
}

.open {
  width: 200px !important;
  transition: all 1s !important;
}

.custom-rotate-x:hover {
  transform: rotateY(180deg);
  transition: transform 0.5s ease-in-out;
}
