.heroBg{
    background-image: url('https://s3-alpha-sig.figma.com/img/abd9/13ef/b2c1333905ef55c42346b4bfec612a6e?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=m2B9bXzjF2vIDSbj8WV~AqezRthtYr7TgYEky6dn-drjRCzaXj~fMdQaulv2Z10jhrVYNKb~Purhyy3Dxhmvp9Mv5TSfYLVSczKUW8JqTEjv8o-~OAq4bQ-pKBHvFuyHwc451~in9lV98DcuzQLxH7GB-NlNWGlSnLTQmxwvw6RkuaRxw6yNWw1JmKxplDRf6dAMHoogow4maK4tgpTCcB1qorf5Jd~xIniwyaO~VFp8x7eJ-mXnT~FwL4nJKABh6JYGoNorYH2GBjzenU4pUWlu1d33pj-tAsVkymlWOQeaY1UVFuMsB6KHmsihbdSLShbURa0y0zSf2IZtPC6inw__');
    background-position: center bottom;
    background-size: cover;
    object-fit: cover;
  }