.contact-Background{
    background-image: url('https://s3-alpha-sig.figma.com/img/7802/581b/7edf8d5c1ecae22dc4c53b20ba30850c?Expires=1734307200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=priardPqykhpKDdv4Mf5~ZNiN8HTbXPI1AGrWXK3KLXFkXDvm~hoqJM5ZFY8AdM2b1iH0zE3Qxg9yyocarOW967XjMnRheFPn8BZ5DEZTgoSx1NDseAG-vGPKttKBlAD6VoyJfTQ1lM8i54FGSPwAQgbxfAIwKJXlHnfxkdyqkgfTbH1Vs7glOpESDQFcdFk66aeUxF6RsXISZY4UtpglXJs0n6Ph0QdenTqhDeimtyx11~sYSZ59abP1k5uYsuS8ee2~Bb0N~aOtII9MKmBPRfOX35jDmQf-wcemi~ydOg78iHqgD69KZJYUTac2RVuAnd~XB~cjpn3hfkmF6wvLA__');
    background-position: center center;
    background-size: cover;
    object-fit: cover;
  }